<!-- <app-background></app-background> -->
<!-- <div class="image"> -->
<div class="container">
  <div class="row">

    <!-- <div class="col-md-4">
        <mat-card class="c1 col-md-12">
          <mat-card-header class="s1">
            <mat-card-title>Make transfer</mat-card-title>
          </mat-card-header>
          <br>
          <app-transfer-form></app-transfer-form>
        </mat-card>
      </div>

      <div class="col-md-1"></div> -->

    <div class="col-md-12">
      <mat-card class="c1 col-md-12">
        <!-- <mat-card-header class="s1">
          <mat-card-title class="col-md-12">Recent Transactions</mat-card-title>
        </mat-card-header>
        <br> -->
        <app-transactions></app-transactions>
      </mat-card>
    </div>

  </div>
</div>